.wrapper {
	display: flex;
	flex-direction: column;
	gap: 14px;

	//Card

	.card {
		display: flex;
		flex-direction: column;
		background-color: #f2f2f2;
		padding: 21px 0 0 0;
		min-height: 480px;
		align-items: center;
		text-align: left;
		background: #f2f2f2;
		border: 4px solid #1698d9;
		border-radius: 12px;
		position: relative;
		overflow: hidden;
		-webkit-clip-path: polygon(13.5% 0, 100% 0, 100% 100%, 0 100%, 0% 9%);
		clip-path: polygon(13.5% 0, 100% 0, 100% 100%, 0 100%, 0% 9%);
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			border: 4px solid #2ea8e6;

			&::before {
				content: '';
				background: #2ea8e6;
			}
		}

		//Left edge
		&::before {
			content: '';
			position: absolute;
			top: -15px;
			left: 15px;
			width: 5px;
			height: 70px;
			background: #1698d9;
			display: block;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			transition: inherit;
			z-index: 11;
		}

		//Card Active

		&.active {
			border: 4px solid #d91667;

			&:hover {
				border: 4px solid #e52e7a;

				.quantity {
					background-color: #e52e7a;
				}

				&::before {
					content: '';
					background: #e52e7a;
				}
			}

			&::before {
				background: #d91667;
			}

			.quantity {
				background: #d91667;
			}
		}

		//Card Disabled

		&.disabled {
			border: 4px solid #b3b3b3;
			pointer-events: none;

			.text {
				.title,
				.name,
				.ingredient,
				.extra {
					color: #b3b3b3;
				}
			}

			&::before {
				background: #b3b3b3;
			}

			.bg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;

				background-color: rgba($color: #ffffff, $alpha: 0.5);
				z-index: 10;
			}

			.quantity {
				background-color: #b3b3b3;
				z-index: 11;
			}
		}

		//Text Block
		.text {
			.title,
			.extra {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #666666;
			}

			.title {
				font-size: 16px;
				line-height: 19px;
			}

			.extra {
				font-size: 14px;
				line-height: 16px;
			}

			.name,
			.ingredient {
				font-style: normal;
				font-weight: 700;
				color: #000000;
			}
			.name {
				font-size: 48px;
				line-height: 56px;
			}

			.ingredient {
				font-size: 24px;
				line-height: 28px;
				color: #000000;
				margin-bottom: 15px;
			}

			.extra {
				max-width: 127px;
				width: 100%;
				display: flex;
				flex-direction: column;
			}
		}

		//Photo Block

		.photo {
			margin-top: auto;
			width: 100%;
			height: auto;
			overflow: hidden;

			img {
				display: block;
				max-width: 100%;
				min-width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		//Quantity Block
		.quantity {
			position: absolute;
			right: 16px;
			bottom: 16px;
			width: 80px;
			height: 80px;
			padding: 8px 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			border-radius: 100%;
			background-color: #2ea8e6;

			span {
				color: white;
				font-style: normal;
				font-weight: 400;

				&:nth-child(1) {
					font-size: 42px;
				}
				&:nth-child(2) {
					position: absolute;
					bottom: 8px;
					font-size: 21px;
				}
			}
		}
	}

	> p {
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		color: #ffffff;

		> {
			span {
				cursor: pointer;
				color: #1698d9;
				text-decoration: dashed underline !important;
				-webkit-text-decoration-style: dashed !important;
				text-decoration-style: dashed !important;

				&:hover {
					color: #22a7e9;
				}
			}
		}

		&.empty {
			color: #ffff66;
		}
	}
}
